@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #696969;
}

h1 {
    font-size: 8rem;
    font-family: 'Press Start 2P', sans-serif;
}

.letter {
    transition: color 1000ms;
}